body {
	margin: 0;
	background-image: url("https://i.imgur.com/Pj0PuBg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	text-align: center;
	padding-top: 15vh;
}

h1 {
	font-style: oblique;
	font-family: cursive;
	font-size: 64px;
	color: white;
}

p {
	font-size: 32px;
	font-style: italic;
	color: cyan;
}

.row {
	padding-top: 15vh;
}

a {
	left: 0;
}

b {
	right: 0;
}

.a:hover {
	background-image: url("https://i.imgur.com/vs9yHwm.png");
	background-attachment: scroll;
	background-position: center;
	background-size: 35vh 35vw;
	background-repeat: no-repeat;
	padding-left: 15%;
	padding-top: 15%;
	padding-right: 15%;
	padding-bottom: 15%;
	font-size: 0;
}

.b:hover {
	background-image: url("https://i.imgur.com/ODJlzZl.png");
	background-attachment: scroll;
	background-position: center;
	background-size: 35vh 35vw;
	background-repeat: no-repeat;
	padding-left: 15%;
	padding-top: 15%;
	padding-right: 15%;
	padding-bottom: 15%;
	font-size: 0;
}

.goto {
	border-color: red;
	border-radius: 25px;
	background: #AAF;
	color: #404;
	padding: 20px;
	width: 200px;
	height: 10%;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}
