body {
	margin: 0;
	background-image: url("https://i.imgur.com/Pj0PuBg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	text-align: center;
	padding-top: 5vh;
}

h1 {
	font-style: oblique;
	font-family: cursive;
	font-size: 5vh;
	color: white;
}

a:link {text-decoration: none;}

a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

a:active {text-decoration: none;}

p {
	font-size: 3vh;
	font-style: italic;
	color: cyan;
	cursor: default;
}

.row {
	padding-top: 15vh;
}

.goto {
	border-color: red;
	border-radius: 3vh;
	background: #AAF;
	color: #404;
	padding-left: 9vh;
	padding-right: 9vh;
	padding-top: 9vh;
	padding-bottom: 9vh;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.goto:hover {
	background-position: center;
	background-size: cover;
	color:#00000000;
}

.img_1:hover {
	background-image: url("https://i.imgur.com/vs9yHwm.png");
}

.img_2:hover {
	background-image: url("https://i.imgur.com/ODJlzZl.png");
}
